/* :root {
  --text-color: #434455;
} */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color */

  --background-color: #f7f7f7;
  --text-color: #f6f6f6;
  --black-color: #121212;

  /* Header color */

  --header-color: #121212;
  --header-color-main: #f7f7f7;
  --background-header: #ffffff;
  --background-header-main: #121212;
  --header-border: 0.5px solid rgba(18, 18, 18, 0.3);
  --header-border-main: 0.5px solid rgba(247, 247, 247, 0.2);
}
