/* :root {
  --text-color: #434455;
} */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color */

  --background-color: #f7f7f7;
  --text-color: #f6f6f6;
  --black-color: #121212;

  /* Header color */

  --header-color: #121212;
  --header-second-logo-color: #d8d7d7;
  --header-color-index: #f7f7f7;
  --header-icon-color-index: #f6f6f6;
  --background-header: #ffffff;
  --background-header-index: #121212;
  --header-border: 0.5px solid rgba(18, 18, 18, 0.3);
  --header-border-index: 0.5px solid rgba(247, 247, 247, 0.2);
  --header-tra: 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --header-border-main: 0.5px solid rgba(247, 247, 247, 0.2);

  /* Modal color */

  --modal-color: #f7f7f7;
  --modal-comment-color: #d8d7d7;
  --modal-border-select: 1.8px solid #f7f7f7;
  --modal-border-button: 0.8px solid #f7f7f7;

  /* Room page color */
  --room-amenities-text-color: #f7f7f7;
}
