
<section class="adout">
  <div class="container ">
    <h2 class="visually-hidden" >Section About a kitchen</h2>
    <div class="adout-img-list list">
      <div class="wraper-img1">
    <picture class="photo-restaurant-about">
      <source
      srcset="/img/restaurant/desk/about-kitchen-pic1-1x.jpg, /img/restaurant/desk/about-kitchen-pic1-2x.jpg"
      tupe="image/jpeg"
      media="(min-width:1440px)"
      width="511"
      height="432"
      />
      <source
      srcset="/img/restaurant/tab/about-kitchen-pic1-1x.jpg, /img/restaurant/tab/about-kitchen-pic1-2x.jpg"
      tupe="image/jpeg"
      media="(min-width:768px)"
      width="388"
      height="511"
      />
      <source
      srcset="/img/restaurant/mob/about-kitchen-pic1-1x.jpg, /img/restaurant/mob/about-kitchen-pic1-2x.jpg"
      tupe="image/jpeg"
      media="(max-width:767px)"
      width="335"
      height="443"
      />
      <img src="/img/restaurant/desk/about-kitchen-pic1-1x.jpg " alt="about-kitchen-pic1-1x" class="img1" width="511" height="598">
    </picture>
  </div>
<div class="wraper-img2">
    <picture>
      <source
      srcset="/img/restaurant/desk/about-kitchen-pic2-1x.jpg, /img/restaurant/desk/about-kitchen-pic2-2x.jpg"
      tupe="image/jpeg"
      media="(min-width:1440px)"
      width="334"
      height="389"
      />
      <source
      srcset="/img/restaurant/tab/about-kitchen-pic2-1x.jpg, /img/restaurant/tab/about-kitchen-pic2-2x.jpg"
      tupe="image/jpeg"
      media="(min-width:768px)"
      width="284"
      height="296"
      />
      <source
      srcset="/img/restaurant/mob/about-kitchen-pic2-1x.jpg, /img/restaurant/mob/about-kitchen-pic2-2x.jpg"
      tupe="image/jpeg"
      media="(max-width:767px)"
      width="158"
      height="149"
      />
      <img src="/img/restaurant/desk/about-kitchen-pic2-1x.jpg " alt="about-kitchen-pic2-1x" class="img2" width="334" height="389">
    </picture>
  
    <picture>
      <source
      srcset="/img/restaurant/desk/about-kitchen-pic3-1x.jpg, /img/restaurant/desk/about-kitchen-pic3-2x.jpg"
      tupe="image/jpeg"
      media="(min-width:1440px)"
      width="467"
      height="398"
      />
      <source
      srcset="/img/restaurant/tab/about-kitchen-pic3-1x.jpg, /img/restaurant/tab/about-kitchen-pic3-2x.jpg"
      tupe="image/jpeg"
      media="(min-width:768px)"
      width="284"
      height="203"
      />
      <source
      srcset="/img/restaurant/mob/about-kitchen-pic3-1x.jpg, /img/restaurant/mob/about-kitchen-pic3-2x.jpg"
      tupe="image/jpeg"
      media="(max-width:767px)"
      width="158"
      height="149"
      />
      <img src="/img/restaurant/desk/about-kitchen-pic3-1x.jpg " alt="about-kitchen-pic2-1x" class="img2" width="467" height="389">
    </picture>
  </div>
  </div>
    <div class="parag-adout-container">
    <p class="parag-adout-con">At Mimino, we are experts in <span class="parag-italic">meat preparation.</span>  
      Our chefs use only the finest and freshest 
      ingredients to <span class="parag-italic">create delicious</span>  dishes that
      showcase the flavors of premium cuts of meat.</p>
      <p class="parag-adout">Our <span class="parag-italic">slow-cooking</span> process and expert 
      seasoning bring out the best in each dish,
      making for an unforgettable dining experience.
      Come taste the magic <span class="parag-italic"> of meat preparation at</span>  Mimino.</p>
  </div>
</section>

