<section class="hero">
  <div class="container">
    <h1 class="title">Restaurant</h1>
  <div class="button-hero">
    <button type="button" class="button-shape-hero open-modal-table">book a table</button>
    <button type="button" class="button-shape-hero">View a menu</button>
  </div>
  <div class="photo-hero-list list">
      <picture class="photo-restaurant-hero">
        <source
        srcset="/img/restaurant/desk/hero-pic1-1x.jpg, /img/restaurant/desk/hero-pic1-2x.jpg"
        tupe="image/jpeg"
        media="(min-width:1440px)"
        width="436"
        height="580"
        />
        <source
        srcset="/img/restaurant/tab/hero-pic1-1x.jpg, /img/restaurant/tab/hero-pic1-2x.jpg"
        tupe="image/jpeg"
        media="(min-width:768px)"
        width="436"
        height="548"
        />
        <source
        srcset="/img/restaurant/mob/hero-pic1-1x.jpg, /img/restaurant/mob/hero-pic1-2x.jpg"
        tupe="image/jpeg"
        media="(max-width:767px)"
        width="250"
        height="429"
        />
        <img src="/img/restaurant/desk/hero-pic1-1x.jpg " alt="hero-pic1-1x" class="img1" width="436" height="580">
      </picture>
    <!--  <picture class="photo-restaurant-hero">
        <source
        srcset="/img/restaurant/desk/hero-pic2-1x.jpg, /img/restaurant/desk/hero-pic2-2x.jpg"
        tupe="image/jpeg"
        media="(min-width:1440px)"
        width="436"
        height="580"
        />
        <source
        srcset="/img/restaurant/tab/hero-pic2-1x.jpg, /img/restaurant/tab/hero-pic2-2x.jpg"
        tupe="image/jpeg"
        media="(min-width:768px)"
        width="436"
        height="548"
        />
        <source
        srcset="/img/restaurant/mob/hero-pic2-1x.jpg, /img/restaurant/mob/hero-pic2-2x.jpg"
        tupe="image/jpeg"
        media="(max-width:767px)"
        width="250"
        height="429"
        />
        <img src="/img/restaurant/desk/hero-pic2-1x.jpg " alt="hero-pic2-1x" class="img1" width="436" height="580">
      </picture>

      <picture class="photo-restaurant-hero">
        <source
        srcset="/img/restaurant/desk/hero-pic3-1x.jpg, /img/restaurant/desk/hero-pic3-2x.jpg"
        tupe="image/jpeg"
        media="(min-width:1440px)"
        width="436"
        height="580"
        />
        <source
        srcset="/img/restaurant/tab/hero-pic3-1x.jpg, /img/restaurant/tab/hero-pic3-2x.jpg"
        tupe="image/jpeg"
        media="(min-width:768px)"
        width="436"
        height="548"
        />
        <source
        srcset="/img/restaurant/mob/hero-pic3-1x.jpg, /img/restaurant/mob/hero-pic3-2x.jpg"
        tupe="image/jpeg"
        media="(max-width:767px)"
        width="250"
        height="429"
        />
        <img src="/img/restaurant/desk/hero-pic3-1x.jpg " alt="hero-pic3-1x" class="img1" width="436" height="580">
      </picture> -->
    </div>
  </ul>
  <p class="parag-hero">Whether you're in the mood for a hearty breakfast, a light lunch, or<span class="parag-italic"> a romantic dinner,</span>our menu has something for everyone.</p>
    
  </div>
</section>


