<section class="restaurant-section">
  <div class="container">
    <h2 class="restaurant-title">Restaurant menu</h2>
    <div class="menu-container">
    <div class="menu">
      <h2 class="menu-title">Hot meals</h2>
      <ul class="restaurant-list">
        <li class="menu-list-item">
          <div>
            <h3 class="menu-item">Veal borscht with beans</h3>
            <p class="item-description">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour
              cream</p>
          </div>
          <div class="menu-subbox">
            <p class="menu-weight">400 g</p>
            <p class="menu-price">240 UAH</p>
          </div>
          </li>
          <li class="menu-list-item">
            <div>
          <h3 class="menu-item"> Cheese soup with chicken</h3>
          <p class="item-description">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
          </div>
    <div class="menu-subbox">
      <p class="menu-weight">400 g</p>
      <p class="menu-price">200 UAH</p>
    </div>
    </li>
  <li class="menu-list-item">
    <div>
    <h3 class="menu-item">Carbonara pasta</h3>
    <p class="item-description">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
  </div>
  <div class="menu-subbox">
    <p class="menu-weight">400 g</p>
    <p class="menu-price">430 UAH</p>
  </div>
  </li>
  <li class="menu-list-item">
    <div>
  <h3 class="menu-item">Pork steak</h3>
  <p class="item-description">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
  </div>
  <div class="menu-subbox">
    <p class="menu-weight">400 g</p>
    <p class="menu-price">500 UAH</p>
  </div>
  </li>
  <li class="menu-list-item">
    <div>
  <h3 class="menu-item">Gorbusha in white wine sauce</h3>
  <p class="item-description">Tender redfish, cream sauce based on white wine</p>
  </div>
  <div class="menu-subbox">
    <p class="menu-weight">400 g</p>
    <p class="menu-price">400 UAH</p>
  </div>
  </li>
  </ul>
  <button type="button" class="menu-btn" table-modal-open>book a table</button>
  </div>
<div class="menu-parts">
  <h2 class="menu-title">Side dishes and snacks</h2>
  <ul class="restaurant-list">
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Baked vegetables</h3>
        <p class="item-description">Zucchini, pepper, tomato, eggplant</p>
      </div>
      <div class="menu-subbox">
        <p class="menu-weight">200 g</p>
        <p class="menu-price">230 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">French fries</h3>
        <p class="item-description">Potatoes, tomato sauce</p>
      </div>
      <div class="menu-subbox">
        <p class="menu-weight">150 g</p>
        <p class="menu-price">160 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Peasant-style potatoes</h3>
        <p class="item-description">Potatoes, spices, spicy sauces</p>
      </div>
      <div class="menu-subbox">
        <p class="menu-weight">150 g</p>
        <p class="menu-price">160 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Crisp pickles from the barrel</h3>
        <p class="item-description">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
      </div>
      <div class="menu-subbox">
        <p class="menu-weight">250 g</p>
        <p class="menu-price">350 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Chicken wings in honey sauce</h3>
        <p class="item-description">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
      </div>
      <div class="menu-subbox">
        <p class="menu-weight">400 g</p>
        <p class="menu-price">400 UAH</p>
      </div>
    </li>
  </ul>
  </div>

  <div class="menu-parts">
    <h2 class="menu-title">Salads</h2>
    <ul class="restaurant-list">
      <li class="menu-list-item">
        <div>
          <h3 class="menu-item">Caesar with chicken</h3>
          <p class="item-description">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
        </div>
        <div class="menu-subbox">
          <p class="menu-weight">230 g</p>
          <p class="menu-price">450 UAH</p>
        </div>
      </li>
      <li class="menu-list-item">
        <div>
          <h3 class="menu-item">Caesar with shrimp</h3>
          <p class="item-description">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
        </div>
        <div class="menu-subbox">
          <p class="menu-weight">230 g</p>
          <p class="menu-price">300 UAH</p>
        </div>
      </li>
      <li class="menu-list-item">
        <div>
          <h3 class="menu-item">Greek salad</h3>
          <p class="item-description">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
        </div>
        <div class="menu-subbox">
          <p class="menu-weight">230 g</p>
          <p class="menu-price">280 UAH</p>
        </div>
      </li>
      <li class="menu-list-item">
        <div>
          <h3 class="menu-item">Meat saladl</h3>
          <p class="item-description">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
        </div>
        <div class="menu-subbox">
          <p class="menu-weight">230 g</p>
          <p class="menu-price">300 UAH</p>
        </div>
      </li>
    </ul>
    <button type="button" class="menu-btn-last">book a table</button>
  </div>

<div class="menu-parts-last">
  <h2 class="menu-title">Desserts</h2>
  <ul class="restaurant-list">
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Napoleon cake</h3>
      </div>
      <div class="menu-subbox">
        <p class="menu-price">200 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Poppy cake</h3>
      </div>
      <div class="menu-subbox">
        <p class="menu-price">300 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Tiramisu</h3>
      </div>
      <div class="menu-subbox">
        <p class="menu-price">260 UAH</p>
      </div>
    </li>
  </ul>
  <h2 class="menu-title-last">Drinks</h2>
  <ul class="restaurant-list">
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Black/green tea</h3>
      </div>
      <div class="menu-subbox">
        <p class="menu-price">100 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Espresso</h3>
      </div>
      <div class="menu-subbox">
        <p class="menu-price">100 UAH</p>
      </div>
    </li>
    <li class="menu-list-item">
      <div>
        <h3 class="menu-item">Cappuccino</h3>
      </div>
      <div class="menu-subbox">
        <p class="menu-price">100 UAH</p>
      </div>
    </li>
  </ul>

</div>
</div>
</div>
</section>
