<section class="restaurant-section">
  <div class="container">
    <h2 class="restaurant-title">Restaurant menu</h2>
    <div class="menu">
      <h2 class="menu-title">Hot meals</h2>
      <ul class="restaurant-list">
        <li class="menu-list-item">
          <div>
            <h3 class="menu-item">Veal borscht with beans</h3>
            <p class="item-description">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour
              cream</p>
          </div>
          <div class="menu-subbox">
            <p class="menu-weight">400 g</p>
            <p class="menu-price">240 UAH</p>
          </div>
          </li>
          <li class="menu-list-item">
            <div>
          <h3 class="menu-item"> Cheese soup with chicken</h3>
          <p class="item-description">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
          </div>
    <div class="menu-subbox">
      <p class="menu-weight">400 g</p>
      <p class="menu-price">200 UAH</p>
    </div>
    </li>
  <li class="menu-list-item">
    <div>
    <h3 class="menu-item">Carbonara pasta</h3>
    <p class="item-description">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
  </div>
  <div class="menu-subbox">
    <p class="menu-weight">400 g</p>
    <p class="menu-price">430 UAH</p>
  </div>
  </li>
  <li class="menu-list-item">
    <div>
  <h3 class="menu-item">Pork steak</h3>
  <p class="item-description">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
  </div>
  <div class="menu-subbox">
    <p class="menu-weight">400 g</p>
    <p class="menu-price">500 UAH</p>
  </div>
  </li>
  <li class="menu-list-item">
    <div>
  <h3 class="menu-item">Gorbusha in white wine sauce</h3>
  <p class="item-description">Tender redfish, cream sauce based on white wine</p>
  </div>
  <div class="menu-subbox">
    <p class="menu-weight">400 g</p>
    <p class="menu-price">400 UAH</p>
  </div>
  </li>
  </ul>
  <button type="button" class="menu-btn">book a table</button>
  </div>
  </div>
</section>
