.backdrop-room {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: auto;
  background-color: var(--modal-backdrop-color);
  transition: opacity var(--modal-tra), visibility var(--modal-tra);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-room.is-hidden .modal-room {
  transform: var(--modal-transform-before);
}

.modal-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--modal-transform-after);
  width: 85%;
  min-height: 636px;
  background-color: var(--modal-background-color);
  border-radius: 4px;
  padding: 24px 24px 40px 24px;
  transition: transform var(--modal-tra);
}

@media screen and (min-width: 375px) {
  .modal-room {
    width: 335px;
  }
}

.modal-room-btn-close {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  transition: transform var(--modal-close-btn-tra);
}

.modal-room-btn-close:is(:hover, :focus) {
  transform: var(--modal-close-btn-transform);
}

.modal-room-icon {
  stroke: var(--modal-color);
}

@media screen and (max-width: 767px) {
  .modal-room-icon {
    width: 12px;
    height: 12px;
  }
}

.modal-room-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--modal-color);
}

.modal-room-form-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.modal-room-field {
  height: 56px;
}

@media screen and (max-width: 767px) {
  .modal-room-field:not(:last-child) {
    margin-bottom: 32px;
  }
}

.modal-room-input {
  width: 100%;
  height: 36px;
  padding-bottom: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--modal-color);
  background-color: var(--modal-background-color);
  border: none;
  border-bottom: var(--modal-input-border);
}

.modal-room-input:focus {
  border-bottom: var(--modal-border-button);
}

.modal-room-input::placeholder {
  color: var(--modal-color);
}

.modal-room-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.modal-room-select::-ms-expand {
  display: none;
}

.modal-room-icon-wrap {
  position: relative;
  left: 95%;
  bottom: 39px;
  transform: translateY(-100%);
  pointer-events: none;
}

.modal-room-icon {
  stroke: #f7f7f7;
}

.modal-room-text {
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--modal-comment-color);
  margin-top: 8px;
}

option.option-room-hidden {
  display: none;
}

.modal-room-btn {
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--modal-color);
  background-color: var(--modal-background-color);
  padding: 12px 40px;
  border: var(--modal-border-button);
  border-radius: 32px;
  transition: color var(--modal-tra), background-color var(--modal-tra);
}

.modal-room-btn:hover,
.modal-room-btn:focus {
  color: var(--modal-background-color);
  background-color: var(--modal-color);
}

@media screen and (min-width: 375px) {
  .modal-room-btn {
    font-size: 14px;
    padding: 14px 48px;
  }
}

@media screen and (min-width: 768px) {
  .modal-room {
    width: 628px;
    min-height: 572px;
    padding: 32px 32px 60px 32px;
  }

  .modal-room-btn-close {
    width: 32px;
    height: 32px;
    top: 24px;
    right: 24px;
  }

  .modal-room-title {
    font-size: 36px;
    line-height: 1.11;
  }

  .modal-room-form-section {
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 40px;
  }

  .modal-room-input {
    width: 266px;
  }

  .modal-room-icon-wrap {
    bottom: 42px;
  }

  .modal-room-btn {
    font-size: 18px;
    line-height: 1.71;
    padding: 14px 130px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-room-btn {
    line-height: 1.33;
    padding: 14px 133px;
  }
}
