.backdrop-table {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: auto;
  background-color: var(--modal-background-color);
  transition: opacity var(--modal-tra), visibility var(--modal-tra);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-table.is-hidden .modal-table {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 85%;
  min-height: 576px;
  background-color: var(--modal-background-color);
  border-radius: 4px;
  padding: 24px 16px;
  /* transition: transform var(--header-tra); */
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-table-btn-close {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 2px;
  left: 20px;
}

/* .modal-table-icon {
}
.modal-table-title {
}
.modal-table-form {
}
.modal-table-label {
}
.modal-table-text {
}
.modal-table-option {
}
.modal-btn {
} */

/* ----------------------------------------------------- */
