.room-amenities-section {
    background-color: var(--black-color);
    padding-top: 40px;
    padding-bottom: 64px;
}

.amenities {
    color: var(--room-amenities-text-color);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 40px;
}

.room-amenities-list {
    list-style: disc;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.room-amenities-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    margin-bottom: 28px;
}

.room-amenities-list-position {
    padding-left: 20px;
}

.room-amenities-pic {
    position: relative;
}

/* .room-amenities-pic-bathroom{
    margin-left: auto;
    float: right;
} */

.room-amenities-pic-accessories {
    position: absolute;
    top: 144px;
    left: 0px;
}

.room-amenities-down-pos {
    padding-top: 64px;
}


.bathroom {
    margin-left: auto;
}

.room-amenities-btn {
    min-width: 175px;
    display: block;
    margin: 0 auto;

    padding: 8px 18px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    background-color: transparent;
    color: var(--room-amenities-text-color);
    border: 0.8px solid var(--room-amenities-text-color);
    border-radius: 32px;
}



/* === TABLET === */
@media screen and (min-width: 768px) {
    .room-amenities-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .room-amenities-list {
        font-size: 18px;
        line-height: 24px;
    }

    .room-amenities-title{
        font-size: 40px;
        line-height: 44px;

        margin-bottom: 40px;
    }

    .room-amenities-list-position {
        padding-left: 25px;
    }

    .room-amenities-pic{
        margin-top: 122px;
        margin-bottom: 0;

        left: 296px;
    }

    .room-amenities-pic-accessories {
        top: 157px;
        left: -296px;
    }

    .room-amenities-down-pos {
        position: relative;
        right: 0;
        top: 0;
    }

    .room-amenities-btn{
        position: absolute;
        /* left: 32px; */
        /* bottom: -114px; */

        min-width: 143px;
        padding: 8px 24px;

        line-height: 24px;
    }
}
