/* Style slider */

/* .room-title {
  color: brown;
}

@media screen and (min-width: 1000px) {
  .room-title {
    color: chocolate;
  }
} */

.room-hero-section {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 64px;
}

.room-hero-title {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black-color);

  margin-bottom: 24px;
}

.room-hero-title-accent {
  font-style: italic;
}

.room-hero-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: var(--black-color);
  width: 117px;
  height: 34px;
  border: 0.8px solid var(--black-color);
  border-radius: 32px;
  margin-bottom: 40px;
}

.room-hero-btn:hover,
.room-hero-btn:focus {
  color: #f7f7f7;
}

.room-hero-btn-text {
  padding: 18px 8px;
}

.room-hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  max-width: 289px;

  margin-top: 100px;
}

/* === TABLET === */
@media screen and (min-width: 768px) {
  .room-hero-section {
    padding-bottom: 120px;
  }

  .room-hero-title {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 18px;
  }

  .room-hero-btn {
    width: 129px;
    height: 40px;

    margin-bottom: 28px;
  }

  .room-hero-btn-text {
    padding: 24px 8px;
  }

  .room-hero-text {
    margin-top: 40px;
  }
}

/* === DESKTOP === */
@media screen and (min-width: 1440px) {
  .room-hero-container {
    display: flex;
  }

  .room-hero-wraper {
    display: flex;
    flex-direction: column;
  }

  .room-hero-title {
    margin-right: 112px;
    width: 592px;
  }

  .room-hero-section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 82px;
  }

  .room-hero-title {
    font-size: 80px;
    line-height: 80px;

    margin-top: 139px;
    margin-bottom: 32px;
  }

  .room-hero-slider {
    position: absolute;
    left: 736px;
    top: 30px;
    width: 720px;
  }

  .room-hero-btn {
    font-size: 18px;
    line-height: 24px;

    width: 152px;
    height: 42px;

    margin-bottom: 169px;
  }

  .room-hero-text {
    position: absolute;
    padding-top: 478px;
  }

  /* .room-hero-btn-text {
  padding: 9px 24px;
} */

  .room-hero-btn-text {
    margin-top: 0px;
  }
  .slider-wraper {
    height: 600px;
    width: 710px;
  }
}
