.container {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-width: 320px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
