<section>
  <div class="container">
    <h2 class="visually-hidden">Section Amenities</h2>
    
      <div>
        <ul>
          <p>General Amenities & Facilities:</p> 
          <li>24-hour front desk service</li>
          <li>Daily housekeeping</li>
          <li>Free Wi-Fi throughout the hotel</li>
          <li>Elevator access</li>
          <li>Luggage storage</li>
          <li>Non-smoking rooms available</li>
          <li>Meeting rooms for business and events</li>
          <li>On-site parking (surcharge)</li>
          <li>Concierge services</li>
        </ul>
      
      
        <ul>
          <p>Bathroom:</p> 
          <li>Private bathroom with shower</li>
          <li>Complimentary toiletries</li>
          <li>Hair dryer</li>
          <li>Fresh towels daily</li>
          <li>Deluxe bathrobes (in some room categories)</li>
        </ul>
      
        <ul>
          <p>Bedroom:</p> 
          <li>Comfortable beds with high-quality linens</li>
          <li>Blackout curtains</li>
          <li>Climate control (air conditioning and heating)</li>
          <li>Safe for valuables</li>
          <li>Writing desk and chair</li>
          <li>Flat-screen TV with cable channels</li>
        </ul>
      
        <ul>
          <p>Kitchen:</p> 
          <li>In-room kitchenette (in some room categories)</li>
          <li>Refrigerator</li>
          <li>Microwave</li>
          <li>Electric kettle</li>
          <li>Cooking utensils and cutlery</li>
          <li>Dining table and chairs</li>
        </ul>
      
        <ul>
          <p>Media:</p> 
          <li>Flat-screen TV with cable channels</li>
          <li>High-speed Wi-Fi</li>
          <li>iPod docking station</li>
          <li>Speaker system</li>
          <li>Electrical outlets for charging devices.</li>
        </ul>
      </div>
      
    
    <!-- Картинки -->
    <div><!-- marging left auto pos rel -->
      <picture>
        <source srcset="
                      img\room\desk\amenities-pic1-1x.jpg 1x,
                      img\room\desk\amenities-pic1-2x.jpg 2x
                    " media="(min-width: 1440px)" />
        <source srcset="
                      img\room\tab\amenities-pic1-1x.jpg 1x,
                      img\room\tab\amenities-pic1-2x.jpg 2x
                    " media="(min-width: 768px)" />
        <source srcset="
                      img\room\mob\amenities-pic1-1x.jpg 1x,
                      img\room\mob\amenities-pic1-2x.jpg 2x
                    " media="(max-width: 767px)" />
        <img src="img\room\mob\amenities-pic1-1x.jpg" alt="bath room" />
      </picture>

      <picture>
        <source srcset="
                            img\room\desk\amenities-pic2-1x.jpg 1x,
                            img\room\desk\amenities-pic2-2x.jpg 2x
                          " media="(min-width: 1440px)" />
        <source srcset="
                            img\room\tab\amenities-pic2-1x.jpg 1x,
                            img\room\tab\amenities-pic2-2x.jpg 2x
                          " media="(min-width: 768px)" />
        <source srcset="
                            img\room\mob\amenities-pic2-1x.jpg 1x,
                            img\room\mob\amenities-pic2-2x.jpg 2x
                          " media="(max-width: 767px)" />
        <img src="img\room\mob\amenities-pic2-1x.jpg" alt="bath room" />
      </picture>
      <!-- second photo pos abs -->
    </div>
    
    
    <Button type="button">Book a room</Button>
  </div>
</section>
