<section class="room-amenities-section">
  <div class="container">
    <h2 class="visually-hidden">Section Amenities</h2>

    <div class="amenities">
      <ul class="room-amenities-list">
        <p class="room-amenities-title">General Amenities & Facilities:</p>
        <div class="room-amenities-list-position">
          <li>24-hour front desk service</li>
          <li>Daily housekeeping</li>
          <li>Free Wi-Fi throughout the hotel</li>
          <li>Elevator access</li>
          <li>Luggage storage</li>
          <li>Non-smoking rooms available</li>
          <li>Meeting rooms for business and events</li>
          <li>On-site parking (surcharge)</li>
          <li>Concierge services</li>
        </div>
      </ul>

      <ul class="room-amenities-list">
        <p class="room-amenities-title">Bathroom:</p>
        <div class="room-amenities-list-position">
          <li>Private bathroom with shower</li>
          <li>Complimentary toiletries</li>
          <li>Hair dryer</li>
          <li>Fresh towels daily</li>
          <li>Deluxe bathrobes (in some room categories)</li>
        </div>
      </ul>

      <ul class="room-amenities-list">
        <p class="room-amenities-title">Bedroom:</p>
        <div class="room-amenities-list-position">
          <li>Comfortable beds with high-quality linens</li>
          <li>Blackout curtains</li>
          <li>Climate control (air conditioning and heating)</li>
          <li>Safe for valuables</li>
          <li>Writing desk and chair</li>
          <li>Flat-screen TV with cable channels</li>
        </div>
      </ul>

      <ul class="room-amenities-list">
        <p class="room-amenities-title">Kitchen:</p>
        <div class="room-amenities-list-position">
          <li>In-room kitchenette (in some room categories)</li>
          <li>Refrigerator</li>
          <li>Microwave</li>
          <li>Electric kettle</li>
          <li>Cooking utensils and cutlery</li>
          <li>Dining table and chairs</li>
        </div>
      </ul>

      <ul class="room-amenities-list">
        <p class="room-amenities-title">Media:</p>
        <div class="room-amenities-list-position">
          <li>Flat-screen TV with cable channels</li>
          <li>High-speed Wi-Fi</li>
          <li>iPod docking station</li>
          <li>Speaker system</li>
          <li>Electrical outlets for charging devices.</li>
        </div>
      </ul>
    </div>

    <!-- Картинки -->
    <div class="room-amenities-down-pos"> 
      <picture>
        <source
          srcset="
            /img/room/desk/amenities-pic1-1x.jpg 1x,
            /img/room/desk/amenities-pic1-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/room/tab/amenities-pic1-1x.jpg 1x,
            /img/room/tab/amenities-pic1-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/room/mob/amenities-pic1-1x.jpg 1x,
            /img/room/mob/amenities-pic1-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="room-amenities-pic-bathroom"
          src="/img/room/mob/amenities-pic1-1x.jpg"
          alt="bath room"
        />
      </picture>
      <div class="pic-btn">
        <picture>
          <source
            srcset="
            /img/room/desk/amenities-pic2-1x.jpg 1x,
            /img/room/desk/amenities-pic2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/room/tab/amenities-pic2-1x.jpg 1x,
            /img/room/tab/amenities-pic2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/room/mob/amenities-pic2-1x.jpg 1x,
            /img/room/mob/amenities-pic2-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="room-amenities-pic-accessories"
            src="/img/room/mob/amenities-pic2-1x.jpg"
            alt="bath room"
          />
        </picture>
        <button type="button" class="room-amenities-btn" room-modal-open>
        Book a room
        </button>
      </div>
    </div>
  </div>
</section>
