<section class="room-hero-section">
  <div class="container room-hero-container">
    <!-- Hero section -->
    <div class="room-hero-wraper">
      <h1 class="room-hero-title">
        Double <br /><span class="room-hero-title-accent">Luxury</span> Room
      </h1>
      <button
        type="button"
        class="animation-btn room-hero-btn btn-white"
        data-price-open
      >
        <span class="room-hero-btn-text">View prices</span>
      </button>
    </div>
    <!-- slider -->
    <!-- Room Hero Slider -->
    <div class="slider-wraper">
      <div class="page-hero-slider">
        <div class="hero-slider-item">
          <picture>
            <source
              srcset="
                /img/slider/room-slider/pic-tablet-1-1x.jpg 1x,
                /img/slider/room-slider/pic-tablet-1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/slider/room-slider/pic-1-1x.jpg 1x,
                /img/slider/room-slider/pic-1-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/slider/room-slider/pic-1-2x.jpg" alt="Guest room" />
          </picture>
        </div>
        <div class="hero-slider-img2">
          <picture>
            <source
              srcset="
                /img/slider/room-slider/pic-tablet-2-1x.jpg 1x,
                /img/slider/room-slider/pic-tablet-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/slider/room-slider/pic-2-1x.jpg 1x,
                /img/slider/room-slider/pic-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/slider/room-slider/pic-2-1x.jpg" alt="Guest room" />
          </picture>
        </div>
        <div class="hero-slider-img3">
          <picture>
            <source
              srcset="
                /img/slider/room-slider/pic-tablet-3-1x.jpg 1x,
                /img/slider/room-slider/pic-tablet-3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/slider/room-slider/pic-3-1x.jpg 1x,
                /img/slider/room-slider/pic-3-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/slider/room-slider/pic-3-1x.jpg" alt="Guest room" />
          </picture>
        </div>
        <div class="hero-slider-img4">
          <picture>
            <source
              srcset="
                /img/slider/room-slider/pic-tablet-4-1x.jpg 1x,
                /img/slider/room-slider/pic-tablet-4-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/slider/room-slider/pic-4-1x.jpg 1x,
                /img/slider/room-slider/pic-4-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/slider/room-slider/pic-4-1x.jpg" alt="Guest room" />
          </picture>
        </div>
        <div class="hero-slider-img5">
          <picture>
            <source
              srcset="
                /img/slider/room-slider/pic-tablet-5-1x.jpg 1x,
                /img/slider/room-slider/pic-tablet-5-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/slider/room-slider/pic-5-1x.jpg 1x,
                /img/slider/room-slider/pic-5-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/slider/room-slider/pic-5-2x.jpg" alt="Guest room" />
          </picture>
        </div>
        <div class="hero-slider-img6">
          <picture>
            <source
              srcset="
                /img/slider/room-slider/pic-tablet-6-1x.jpg 1x,
                /img/slider/room-slider/pic-tablet-6-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/slider/room-slider/pic-6-1x.jpg 1x,
                /img/slider/room-slider/pic-6-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/slider/room-slider/pic-6-2x.jpg" alt="Guest room" />
          </picture>
        </div>
      </div>
    </div>
    <p class="room-hero-text">
      The Mimino hotel features spacious and stylish double luxury rooms with
      modern amenities for a comfortable stay.
    </p>
  </div>
</section>
