<section>
  <div class="container">
    <!-- Hero section -->
    <h1>Double Luxury Room</h1>
    <button type="button">View prices</button>
    <p>The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
    <!-- slider -->
    <!-- Room Hero Slider -->
    <div>
      <div class="room-hero-slider">
        <div class="hero-slider-item">
          <picture>
            <source
              srcset="
                /img/slider/room-slider/pic-tablet-1-1x.jpg 1x,
                /img/slider/room-slider/pic-tablet-1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/slider/room-slider/pic-1-1x.jpg 1x,
                /img/slider/room-slider/pic-1-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/slider/room-slider/pic-1-2x.jpg" alt="Guest room" />
          </picture>
        </div>
        <div class="hero-slider-img2">
          <img src="/img/slider/room-slider/pic-1-2x.jpg" alt="ф" />
        </div>
        <div class="hero-slider-img3"></div>
        <div class="hero-slider-img4"></div>
        <div class="hero-slider-img5"></div>
        <div class="hero-slider-img6"></div>
      </div>
    </div>
  </div>
</section>
