<div class="backdrop-price is-hidden" data-price>
  <div class="modal-price">
    <button class="modal-price-btn-close" type="button" data-price-close>
      <svg class="modal-price-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-price-title">prices per <i>room</i></p>
    <p class="modal-price-subtitle">double suite</p>
    <form class="modal-price-form" action="#">
      <div class="modal-price-form-section">
        <div class="modal-price-field">
          <select
            class="modal-price-input modal-price-select"
            name="user-number-nights"
            id="price-number-nights">
          </select>
          <p class="modal-price-text">number of nights</p>
          <div class="modal-room-icon-wrap">
            <svg class="modal-room-icon" width="10" height="5">
              <use href="./img/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </div>
        <div class="modal-price-field modal-price-currency">
          <input id="price-currency-nights" class="modal-price-input" type="text" readonly />
          <p class="modal-price-text">uah</p>
        </div>
        <div class="modal-price-date">
          <div class="modal-price-field">
            <input type="date" class="modal-price-input" name="user-check-in-date"
              id="user-check-in-date">
            <p class="modal-price-text">check-in date</p>
            <div class="modal-room-icon-wrap">
              <svg class="modal-room-icon" width="10" height="5">
                <use href="./img/icons.svg#icon-chevron-down"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <button class="modal-price-btn" type="submit">make a reservation</button>
    </form>
  </div>
</div>
