<div class="backdrop-room is-hidden" data-room>
  <div class="modal-room">
    <button class="modal-room-btn-close" type="button" data-room-close>
      <svg class="modal-room-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-room-title">book <i>a room</i></p>
    <form class="modal-room-form" action="#">
      <div class="modal-room-form-section">
        <div class="modal-room-field">
          <input
            class="modal-room-input"
            type="text"
            id="room-user-name"
            name="room-user-name"
            placeholder="your name"
          />
          <p class="modal-room-text">who should book a table for?</p>
        </div>
        <div class="modal-room-field">
          <input
            type="tel"
            class="modal-room-input"
            id="user-phone"
            name="user-phone"
            placeholder="+38 ()"
          />
          <p class="modal-room-text">phone number</p>
        </div>
        <div class="modal-room-field">
          <input type="date" class="modal-room-input" name="room-choose-date-in"
            id="room-choose-date-in" value="2023-03-02">
          <p class="modal-room-text">check-in date</p>
          <div class="modal-room-icon-wrap">
            <svg class="modal-room-icon" width="10" height="5">
              <use href="./img/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </div>
        <div class="modal-room-field">
          <input type="date" class="modal-room-input" name="room-choose-date-out"
            id="room-choose-date-out" value="2023-03-03"/>          
          <p class="modal-room-text">check-out date</p>
          <div class="modal-room-icon-wrap">
            <svg class="modal-room-icon" width="10" height="5">
              <use href="./img/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </div>
        <div class="modal-room-field">
          <select
            class="modal-room-input modal-room-select"
            name="user-choose-room"
            id="user-choose-room"
          >
            <option value="double-suite" class="modal-room-option" selected>
              double suite
            </option>
            <option value="triple-room" class="modal-room-option">
              triple room
            </option>
            <option value="four-seater-room" class="modal-room-option">
              four-seater room
            </option>
          </select>
          
          <p class="modal-room-text">number category</p>
          <div class="modal-room-icon-wrap">
            <svg class="modal-room-icon" width="10" height="5">
              <use href="./img/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </div>
      </div>
      <button class="modal-room-btn" type="submit" onclick="submitForm()">make a reservation</button>
    </form>
  </div>
</div>
