<div class="backdrop-table is-hidden" data-table>
  <div class="modal-table">
    <button class="modal-table-btn-close" type="button" data-table-close>
      <svg class="modal-table-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-table-title">book <i>a table</i></p>
    <form class="modal-table-form" action="#">
      <div class="modal-table-form-section">
        <div class="modal-table-field">
          <input
            class="modal-table-input table-input-name"
            type="text"
            id="table-user-name"
            name="table-user-name"
            placeholder="your name"
          />
          <p class="modal-table-text">who should book a table for?</p>
        </div>
        <div class="modal-table-field">
          <select
            name="table-user-amount"
            id="table-user-amount"
            class="modal-table-input modal-table-select"
          >
            <option
              value=""
              class="modal-table-option option-table-hidden"
              disabled
              selected
            >
              number of people
            </option>
            <option value="1" class="modal-table-option">1</option>
            <option value="2" class="modal-table-option">2</option>
            <option value="3" class="modal-table-option">3</option>
            <option value="4" class="modal-table-option">4</option>
            <option value="5" class="modal-table-option">5</option>
          </select>
          <div class="modal-table-icon-wrap">
            <svg class="modal-table-icon" width="10" height="5">
              <use href="./img/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
        </div>
        <div class="modal-table-field">
          <select
            name="table-user-date"
            id="table-user-date"
            class="modal-table-input modal-table-select" 
          >
            <option value="today" class="modal-table-option" selected>today</option>
            <option value="tomorrow" class="modal-table-option">
              tomorrow
            </option>
            <option value="day-after-tomorrow" class="modal-table-option">
              day after tomorrow
            </option>
          </select>
          <div class="modal-table-icon-wrap">
            <svg class="modal-table-icon" width="10" height="5">
              <use href="./img/icons.svg#icon-chevron-down"></use>
            </svg>
          </div>
          <p class="modal-table-text">what date to book?</p>
        </div>
        <div class="modal-table-field">
          <input
            class="modal-table-input"
            type="tel"
            id="table-user-phone"
            name="table-user-phone"
            value="+38 ()"
          />
          <p class="modal-table-text">phone number</p>
        </div>
      </div>
      <button class="modal-table-btn" type="submit">make a reservation</button>
    </form>
  </div>
</div>
