<div class="backdrop-table is-hidden">
  <div class="modal-table">
    <button class="modal-table-btn-close close-modal-table" type="button">
      <svg class="modal-table-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-table-title">book <i>a table</i></p>
    <form class="modal-table-form" action="#">
      <label class="modal-table-label" for="table-user-name">your name</label>
      <input type="text" id="table-user-name" name="table-user-name" />
      <p class="modal-table-text">who should book a table for?</p>
      <label class="modal-table-label" for="table-user-amount">number of people</label>
      <select name="table-user-amount" id="table-user-amount">
        <option value="number-of-people" class="modal-table-option">number of people</option>
        <option value="1" class="modal-table-option">1</option>
        <option value="2" class="modal-table-option">2</option>
        <option value="3" class="modal-table-option">3</option>
        <option value="4" class="modal-table-option">4</option>
        <option value="5" class="modal-table-option">5</option>
      </select>
      <label class="modal-table-label" for="table-user-date">date to book</label>
      <select name="table-user-date" id="table-user-date">
        <option value="today" class="modal-table-option">today</option>
        <option value="tomorrow" class="modal-table-option">tomorrow</option>
        <option value="day-after-tomorrow" class="modal-table-option">day after tomorrow</option>
      </select>
      <p class="modal-table-text">what date to book?</p>
      <label class="modal-table-label" for="table-user-phone">phone number</label>
      <input
        type="tel"
        id="table-user-phone"
        name="table-user-phone"
        value="+38 ()"
      />
      <p class="modal-table-text">phone number</p>
      <button class="modal-btn" type="submit">make a reservation</button>
    </form>
  </div>
</div>
