<section class="double-luxury-room">
  <div class="container hotel-luxury-container">
    <ul class="hotel-luxury-list">
      <li class="hotel-luxury-item">
        <picture class="hotel-luxury-picture">
          <source
            srcset="
              /img/hotel/desk/double-room-pic1-1x.jpg 1x,
              /img/hotel/desk/double-room-pic1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/hotel/tab/double-room-pic1-1x.jpg 1x,
              /img/hotel/tab/double-room-pic1-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/hotel/mob/double-room-pic1-1x.jpg 1x,
              /img/hotel/mob/double-room-pic1-2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="/img/hotel/mob/double-room-pic1-1x.jpg"
            alt="double luxury room"
          />
        </picture>
      </li>
      <li class="hotel-luxury-item">
        <picture class="hotel-luxury-picture">
          <source
            srcset="
              /img/hotel/desk/double-room-pic2-1x.jpg 1x,
              /img/hotel/desk/double-room-pic2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/hotel/tab/double-room-pic2-1x.jpg 1x,
              /img/hotel/tab/double-room-pic2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/hotel/mob/double-room-pic2-1x.jpg 1x,
              /img/hotel/mob/double-room-pic2-2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="/img/hotel/mob/double-room-pic2-1x.jpg"
            alt="double luxury room"
          />
        </picture>
      </li>
      <li class="hotel-luxury-item">
        <picture class="hotel-luxury-picture">
          <source
            srcset="
              /img/hotel/desk/double-room-pic3-1x.jpg 1x,
              /img/hotel/desk/double-room-pic3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/hotel/tab/double-room-pic3-1x.jpg 1x,
              /img/hotel/tab/double-room-pic3-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/hotel/mob/double-room-pic3-1x.jpg 1x,
              /img/hotel/mob/double-room-pic3-2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            src="/img/hotel/mob/double-room-pic3-1x.jpg"
            alt="double luxury room"
          />
        </picture>
      </li>
    </ul>
    <div class="hotel-luxery-main-wrap">
      <div class="hotel-luxery-wrap">
        <h2 class="hotel-luxury-title">double luxury room</h2>
        <div class="hotel-luxery-content-wrap">
          <p class="hotel-luxury-content">
            experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </p>
          <p class="hotel-luxury-content">
            relax after a busy day at the writing desk or armchair. Book now for
            a convenient and comfortable stay.
          </p>
        </div>
      </div>
      <div class="“hotel-luxery-btn-wrap”">
        <button
          type="“button”"
          class="“animation-btn"
          hotel-luxury-btn
          btn-white”
        ></button>
        <button
          type="“button”"
          class="“animation-btn"
          hotel-luxury-btn
          btn-white”
          data-price-open
        ></button>
      </div>
    </div>
  </div>
</section>
