<section class="double-luxury-room">
  <div class="container">
    <ul class="hotel-luxury-list">
      <li class="hotel-luxury-item"><img src="" alt=""></li>
      <li class="hotel-luxury-item"><img src="" alt=""></li>
      <li class="hotel-luxury-item"><img src="" alt=""></li>
    </ul>
    <h2>double luxury room</h2>
   <div class="hotel-luxery-btn-wrap">
      <button type="button" class="hotel-luxury-btn"></button>
      <button type="button" class="hotel-luxury-btn"></button>
   </div class="hotel-hero-btn-wrap">
  </div>
</section>
