<section>
  <div class="container four-seater-room-container">
    <div class="four-seater-room-photo">
      <ul class="four-seater-room-list">
        <li class="four-seater-room-item">
          <picture>
            <source
              srcset="
                /img/hotel/desk/four-room-pic1-1x.jpg 1x,
                /img/hotel/desk/four-room-pic1-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="539"
              height="762"
            />
            <source
              srcset="
                /img/hotel/tab/four-room-pic1-1x.jpg 1x,
                /img/hotel/tab/four-room-pic1-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="331"
              height="468"
            />
            <source
              srcset="
                /img/hotel/mob/four-room-pic1-1x.jpg 1x,
                /img/hotel/mob/four-room-pic1-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
              height="468"
            />
            <img src="/img/hotel/mob/four-room-pic1-1x.jpg" alt="room" />
          </picture>
        </li>
        <li class="four-seater-room-item">
          <picture>
            <source
              srcset="
                /img/hotel/desk/four-room-pic2-1x.jpg 1x,
                /img/hotel/desk/four-room-pic2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="387"
              height="510"
            />
            <source
              srcset="
                /img/hotel/tab/four-room-pic2-1x.jpg 1x,
                /img/hotel/tab/four-room-pic2-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="223"
              height="261"
            />
            <source
              srcset="
                /img/hotel/mob/four-room-pic2-1x.jpg 1x,
                /img/hotel/mob/four-room-pic2-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="156"
              height="158"
            />
            <img src="/img/hotel/mob/four-room-pic2-1x.jpg" alt="bathroom" />
          </picture>
        </li>
        <li class="four-seater-room-item third-photo">
          <picture>
            <source
              srcset="
                /img/hotel/desk/four-room-pic3-1x.jpg 1x,
                /img/hotel/desk/four-room-pic3-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="386"
              height="395"
            />
            <source
              srcset="
                /img/hotel/tab/four-room-pic3-1x.jpg 1x,
                /img/hotel/tab/four-room-pic3-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="341"
              height="175"
            />
            <source
              srcset="
                /img/hotel/mob/four-room-pic3-1x.jpg 1x,
                /img/hotel/mob/four-room-pic3-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="156"
              height="158"
            />
            <img src="/img/hotel/mob/four-room-pic3-1x.jpg" alt="kitchen" />
          </picture>
        </li>
      </ul>
    </div>
    <div class="four-seater-room-content">
      <div class="four-seater-room-description">
        <h2 class="four-seater-room-title">Four-seater Room</h2>
        <p class="four-seater-room-suptitle">
          Our 4-person room is perfect for small groups, offering comfort and
          convenience with 4 comfortable beds, ample storage, flat-screen TV,
          mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
          and soundproof walls. Book now for a memorable stay.
        </p>
      </div>
      <div class="four-seater-room-button">
        <a class="four-seater-room-btn" href="/src/room.html">More details</a>
        <button class="four-seater-room-btn open-modal-price" type="button" data-price-open4>
          View prices
        </button>
      </div>
    </div>
  </div>
</section>
