<section>
  <div class="container four-seater-room-container">
    <div class="four-seater-room-photo">
      <ul class="four-seater-room-list">
        <li class="four-seater-room-item">
          <img
            src="../../img/hotel/mob/four-room-pic1-1x.jpg"
            alt="room"
            srcset="
              ../../img/hotel/mob/four-room-pic1-1x.jpg,
              ../../img/hotel/mob/four-room-pic1-2x.jpg
            "
            width="335"
            height="468"
          />
        </li>
        <li class="four-seater-room-item">
          <img
            src="../../img/hotel/mob/four-room-pic2-1x.jpg"
            alt="bathroom"
            srcset="
              ../../img/hotel/mob/four-room-pic2-1x.jpg,
              ../../img/hotel/mob/four-room-pic2-2x.jpg
            "
            width="157"
            height="158"
          />
        </li>
        <li class="four-seater-room-item">
          <img
            src="../../img/hotel/mob/four-room-pic3-1x.jpg"
            alt="kitchen"
            srcset="
              ../../img/hotel/mob/four-room-pic3-1x.jpg,
              ../../img/hotel/mob/four-room-pic3-2x.jpg
            "
            width="158"
            height="158"
          />
        </li>
      </ul>
    </div>
    <h2 class="four-seater-room-title">Four-seater Room</h2>
    <p class="four-seater-room-suptitle">
      Our 4-person room is perfect for small groups, offering comfort and
      convenience with 4 comfortable beds, ample storage, flat-screen TV,
      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
      soundproof walls. Book now for a memorable stay.
    </p>
    <div class="four-seater-room-button">
      <form action="../room/">
        <button class="four-seater-room-btn" type="button">More details</button>
      </form>
      <button class="four-seater-room-btn" type="button">View prices</button>
    </div>
  </div>
</section>
