<section class="hotel-hero">
  <div class="container hotel-hero-container">
    <div class="hotel-hero-wrap">
      <h1 class="hero-hotel-title">hotel</h1>
      <div class="hotel-hero-btn-wrap">
        <button type="button" class="hotel-hero-btn">book a room</button>
        <button type="button" class="hotel-hero-btn">view prices</button>
      </div>
    </div>
    <p class="hotel-hero-content">
      Whether you're in the mood for a hearty breakfast, a light lunch, or
      a romantic dinner, our menu has something for everyone.
    </p>
    <div class="hotel-hero-slider-wrap">
      <div class="hotel-hero-slider">
        <ul class="hotel-hero-list">
          <li class="hotel-hero-item">
            <picture>
              <source srcset="/img/hotel/mob/hero-pic1-1x.jpg, /img/hotel/mob/hero-pic1-2x.jpg" media="(min-width: 375px)"/>
              <source srcset="/img/hotel/tab/hero-pic1-1x.jpg, /img/hotel/tab/hero-pic1-2x.jpg" media="(min-width: 768px)"/>
              <source srcset="/img/hotel/desk/hero-pic1-1x.jpg, /img/hotel/desk/hero-pic1-2x.jpg" media="(min-width: 1440px)"/>
              <img src="/img/hotel/mob/hero-pic1-1x.jpg"
                alt="hotel"
                srcset="
                  /img/hotel/mob/hero-pic1-1x.jpg,
                  /img/hotel/mob/hero-pic1-2x.jpg
                "
                width="250"
                height="429"
              >
            </picture>
          </li>
          <li class="hotel-hero-item">
            <picture>
              <source srcset="/img/hotel/mob/hero-pic2-1x.jpg, /img/hotel/mob/hero-pic2-2x.jpg" media="(min-width: 375px)"/>
              <source srcset="/img/hotel/tab/hero-pic2-1x.jpg, /img/hotel/tab/hero-pic2-2x.jpg" media="(min-width: 768px)"/>
              <source srcset="/img/hotel/desk/hero-pic2-1x.jpg, /img/hotel/desk/hero-pic2-2x.jpg" media="(min-width: 1440px)"/>
              <img src="/img/hotel/mob/hero-pic2-1x.jpg"
                alt="hotel"
                srcset="
                  /img/hotel/mob/hero-pic2-1x.jpg,
                  /img/hotel/mob/hero-pic2-2x.jpg
                "
                width="250"
                height="429"
              >
            </picture>
          </li>
          <li class="hotel-hero-item">
            <picture>
              <source srcset="/img/hotel/mob/hero-pic3-1x.jpg, /img/hotel/mob/hero-pic3-2x.jpg" media="(min-width: 375px)"/>
              <source srcset="/img/hotel/tab/hero-pic3-1x.jpg, /img/hotel/tab/hero-pic3-2x.jpg" media="(min-width: 768px)"/>
              <source srcset="/img/hotel/desk/hero-pic3-1x.jpg, /img/hotel/desk/hero-pic3-2x.jpg" media="(min-width: 1440px)"/>
              <img src="/img/hotel/mob/hero-pic3-1x.jpg"
                alt="hotel"
                srcset="
                  /img/hotel/mob/hero-pic3-1x.jpg,
                  /img/hotel/mob/hero-pic3-2x.jpg
                "
                width="250"
                height="429"
              >
            </picture>
          </li>
        </ul>
      </div>
      <!-- <div class="hotel-hero-arrow-wrap">
        <div class="hotel-hero-arrow-left">
          <svg>
            <use></use>
          </svg>
        </div>
        <div class="hotel-hero-arrow-right">
          <svg>
            <use></use>
          </svg>
        </div>
      </div> -->
    </div>
  </div>
</section>
