<section class="hotel-hero">
  <div class="container">
    <div class="hotel-hero-wrap">
      <h1 class="hotel-title">hotel</h1>
      <div class="hotel-hero-btn-wrap">
        <button type="button" class="hotel-hero-btn">book a room</button>
        <button type="button" class="hotel-hero-btn">view prices</button>
    </div>
    </di >
    <p class="hotel-hero-content"></p>
    <div class="hotel-hero-slider-wrap">
      <div class="hotel-hero-slider">
        <ul class="hotel-hero-list">
          <li class="hotel-hero-item">
            <picture></picture>
          </li>
          <li class="hotel-hero-item">
            <picture></picture>
          </li>
          <li class="hotel-hero-item">
            <picture></picture>
          </li>
        </ul>.hotel-hero-img
      </div>
      <div class="hotel-hero-arrow-left"></div>
      <div class="hotel-hero-arrow-right"></div>
    </div>
  </div>
</section>
