<section class="hotel-hero">
  <div class="container hotel-hero-container">
    <div class="hotel-hero-wrap">
      <h1 class="hero-hotel-title">hotel</h1>
      <div class="hotel-hero-btn-wrap">
        <button
          type="button"
          class="animation-btn hotel-hero-btn btn-white"
          data-room-open
        >
          book a room
        </button>
        <button
          type="button"
          class="animation-btn hotel-hero-btn btn-white"
          data-price-open
        >
          view prices
        </button>
      </div>
    </div>
    <div>
      <div class="hotel-hero-slider">
        <div class="page-hero-slider rest-hero-slider">
          <div class="hero-slider-item">
            <picture>
              <source
                srcset="
                  /img/slider/hotel-slider/pic-tablet-1-1x.jpg 1x,
                  /img/slider/hotel-slider/pic-tablet-1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider/hotel-slider/pic-1-1x.jpg 1x,
                  /img/slider/hotel-slider/pic-1-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/slider/hotel-slider/pic-1-1x.jpg"
                alt="Guest room"
              />
            </picture>
          </div>
          <div class="hero-slider-img2">
            <picture>
              <source
                srcset="
                  /img/slider/hotel-slider/pic-tablet-2-1x.jpg 1x,
                  /img/slider/hotel-slider/pic-tablet-2-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider/hotel-slider/pic-2-1x.jpg 1x,
                  /img/slider/hotel-slider/pic-2-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/slider/hotel-slider/pic-2-1x.jpg"
                alt="Guest room"
              />
            </picture>
          </div>
          <div class="hero-slider-img3">
            <picture>
              <source
                srcset="
                  /img/slider/hotel-slider/pic-tablet-3-1x.jpg 1x,
                  /img/slider/hotel-slider/pic-tablet-3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/slider/hotel-slider/pic-3-1x.jpg 1x,
                  /img/slider/hotel-slider/pic-3-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/slider/hotel-slider/pic-3-2x.jpg"
                alt="Guest room"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <p class="hotel-hero-content">
      Whether you're in the mood for a hearty breakfast, a light lunch, or
      <span class="italic-text">a romantic dinner</span>, our menu has something
      for everyone.
    </p>
  </div>
</section>
