<footer class="footer-section">
  <div class="container">
    <div class="footer-wrap">
      <div class="section-logo-footer">
        <a href="./index.html" class="link">
          <p class="logo-footer">mimino</p>
          <p class="logo-footer-text">restaurant-hotel complex</p>
        </a>
      </div>
      <div>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a href="#" class="footer-soc-link">
              <svg class="footer-soc-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="#" class="footer-soc-link">
              <svg class="footer-soc-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="#" class="footer-soc-link">
              <svg class="footer-soc-icon">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- <button class="grow_ellipse">GROW ELLIPSE</button> -->
    <!-- <div class="box-3">
      <button class="btn btn-three">GROW ELLIPSE</button>
    </div> -->
  </div>
</footer>
