<header class="header header-index">
  <div class="container header-container header-desktop">
    <div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-link link mob-color-index current-index">Home</a>
          </li>
          <li class="nav-item">
            <a href="./hotel.html" class="nav-link link mob-color-index">Hotel</a>
          </li>
          <li class="nav-item">
            <a href="./restaurant.html" class="nav-link link mob-color-index">Restaurant</a>
          </li>
        </ul>
      </nav>
    </div>
    <button
      class="mob-menu-btn-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <svg class="mob-menu-icon mob-icon-index" width="24" height="16">
        <use href="./img/icons.svg#icon-header-menu-open"></use>
      </svg>
    </button>
    <div class="header-content">
      <div class="logo">
        <a href="./index.html" class="logo-link link mob-color-index">
          <p class="logo-top">mimino</p>
          <p class="logo-bottom">restaurant-hotel complex</p>
        </a>
      </div>
      <div>
        <ul class="header-soc-list">
          <li class="header-soc-item">
            <a href="#" class="header-soc-link">
              <svg class="header-soc-icon mob-icon-index" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-soc-item">
            <a href="#" class="header-soc-link">
              <svg class="header-soc-icon mob-icon-index" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-soc-item">
            <a href="#" class="header-soc-link">
              <svg class="header-soc-icon mob-icon-index" width="24" height="24">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Mobile navigation menu -->

  <div class="mob-menu js-menu-container mob-background-index" id="mobile-menu">
    <div class="header mob-background-index mob-border-index">
      <div class="container header-container">
        <button class="mob-menu-btn-close js-close-menu" type="button">
          <svg
            class="mob-menu-btn-close-icon mob-icon-index"
            width="16"
            height="16"
          >
            <use href="./img/icons.svg#icon-header-menu-close"></use>
          </svg>
        </button>
        <div class="header-content">
          <div class="logo">
            <a href="./index.html" class="logo-link link mob-color-index">
              <p class="logo-top">mimino</p>
              <p class="logo-bottom">restaurant-hotel complex</p>
            </a>
          </div>
          <div>
            <ul class="header-soc-list">
              <li class="header-soc-item">
                <a href="#" class="header-soc-link">
                  <svg
                    class="header-soc-icon mob-icon-index"
                    width="24"
                    height="24"
                  >
                    <use href="./img/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="header-soc-item">
                <a href="#" class="header-soc-link">
                  <svg
                    class="header-soc-icon mob-icon-index"
                    width="24"
                    height="24"
                  >
                    <use href="./img/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="header-soc-item">
                <a href="#" class="header-soc-link">
                  <svg
                    class="header-soc-icon mob-icon-index"
                    width="24"
                    height="24"
                  >
                    <use href="./img/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mob-menu-content container">
      <div>
        <nav>
          <ul class="mob-menu-list">
            <li class="mob-menu-item">
              <a href="./index.html" class="mob-menu-link mob-color-index"
                >home</a
              >
            </li>
            <li class="mob-menu-item">
              <a href="./hotel.html" class="mob-menu-link mob-color-index"
                >hotel</a
              >
            </li>
            <li class="mob-menu-item">
              <a href="./restaurant.html" class="mob-menu-link mob-color-index"
                >restaurant</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <ul class="mob-menu-soc-list">
          <li class="mob-menu-soc-item">
            <a href="#" class="mob-menu-soc-link">
              <svg
                class="mob-menu-soc-icon mob-icon-index"
                width="20"
                height="20"
              >
                <use href="./img/icons.svg#icon-instagram-mob"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-soc-item">
            <a href="#" class="mob-menu-soc-link">
              <svg
                class="mob-menu-soc-icon mob-icon-index"
                width="20"
                height="20"
              >
                <use href="./img/icons.svg#icon-facebook-mob"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-soc-item">
            <a href="#" class="mob-menu-soc-link">
              <svg
                class="mob-menu-soc-icon mob-icon-index"
                width="20"
                height="20"
              >
                <use href="./img/icons.svg#icon-twitter-mob"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
