.triple-room-container {
  padding-bottom: 64px;
}
.triple-room-photo {
  margin-bottom: 32px;
}
.triple-room-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.triple-room-item {
}
.triple-room-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--black-color);
  margin-bottom: 32px;
}
.triple-room-description {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin-bottom: 28px;
}
.triple-room-suptitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.08em;
  color: var(--black-color);
}
.triple-room-button {
  display: flex;
  gap: 12px;
}
.triple-room-btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black-color);
  padding: 8px 18px;
  border: none;
  border: 0.8px solid #121212;
  border-radius: 32px;
  background-color: transparent;
}
