.triple-room-container {
  padding-bottom: 64px;
}

.triple-room-photo {
  margin-bottom: 32px;
}

.triple-room-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

/* .triple-room-item {
} */
.triple-room-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--black-color);
  margin-bottom: 32px;
}

.triple-room-description {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin-bottom: 28px;
}

.triple-room-suptitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
}

.triple-room-button {
  display: flex;
  gap: 12px;
}

.triple-room-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
  padding: 8px 18px;
  border: 0.8px solid #121212;
  border-radius: 32px;
  background-color: transparent;
}

.triple-room-btn:is(:hover, :focus) {
  color: #f7f7f7;
}

/* ----TABLET VERSION----- */
@media screen and (min-width: 768px) {
  .triple-room-container {
    padding-bottom: 80px;
  }
  .triple-room-photo {
    margin-bottom: 40px;
  }
  /* .triple-room-location{
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
  } */
  .triple-room-list {
    row-gap: 32px;
    flex-wrap: nowrap;
    column-gap: 32px;
  }
  .triple-room-item:last-child {
    position: absolute;
    left: 51%;
    align-self: flex-end;
  }

  /* .third-photo {
  } */

  .triple-room-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .triple-room-description {
    flex-wrap: nowrap;
    gap: 32px;
    margin-bottom: 40px;
  }

  .triple-room-suptitle {
    font-size: 18px;
    line-height: 1.33;
    /* flex-basis: calc((100% - 32px) / 2); */
  }

  .triple-room-button {
    gap: 14px;
  }
}

/* -----DESKTOP VERSION------ */
@media screen and (min-width: 1440px) {
  .triple-room-container {
    padding-bottom: 100px;
  }
  .triple-room-photo {
    margin-bottom: 50px;
  }
  .triple-room-list {
    column-gap: 32px;
    justify-content: center;
    align-items: center;
  }
  .triple-room-item:last-child {
    align-self: center;
    position: relative;
    left: 0;
  }
  .third-photo {
    order: -1;
  }
  .triple-room-content {
    display: flex;
    gap: 358px;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .triple-room-title {
    margin-bottom: 40px;
  }
  .triple-room-description {
    margin-bottom: 0;
  }

  .triple-room-btn {
    font-size: 18px;
    line-height: 1.33;
    min-width: 166px;
  }

  .triple-room-suptitle {
    min-width: 299px;
  }

  .triple-room-description {
    gap: 25px;
  }
}
