.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slider__item {
  /* width: 200px; */
  padding: 0px 15px;
}

.container-slick {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: tan;
  position: relative;
  padding: 0px 60px; /**поля между стрелкой и краем слайдера**/
}

.container-slick .slick-arrow {
  position: absolute;
  top: 100px; /** выравнивание по вертикали **/
  margin: 0 114px 0 170px; /** корректировка  вертикального выравнивания **/
  /* z-index: 2; // стрелки сверху картинок */
  font-size: 0; /** убираем надпись на дефолтной стрелке **/
  width: 30px; /** ширина стрелки **/
  height: 30px; /** высота стрелки **/
  background-color: black;
}

.responsive {
  background-color: aqua;
}
