/* === MOBILE === */
.wrapper-about {
  padding-top: 64px;
  padding-bottom: 64px;
}

.content-wrap {
  position: relative;
}

@media screen and (max-width: 767px) {
  .about-section-first-pic-1 {
    margin-bottom: 20px;
  }
}

.guest-feedback-1 {
  position: absolute;
  top: 420px;
  right: 0;
  padding: 12px 12px;
  width: 212px;
  height: 61px;
  background: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-image: url(/img/main/about-complex-rating1-1x.png);
  background-repeat: no-repeat;
  background-size: 41px 41px;
  background-position: 14px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .guest-feedback-1 {
    background-image: url(/img/main/about-complex-rating1-2x.png);
  }
}

.guest-name {
  margin-left: 53px;
  margin-bottom: 7px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #f7f7f7;
}

.guest-rating {
  margin-left: 53px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #575757;
}

.rating {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #f7f7f7;
}

.about-desc-one {
  margin-top: 32px;
  margin-bottom: 64px;
}

.about-desc-head {
  margin-bottom: 18px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
}

.about-desc-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.about-desc-text:not(:last-child) {
  margin-bottom: 14px;
}

.about-section-first {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .about-desc-two {
    margin-top: 54px;
    margin-bottom: 40px;
  }
}

.guest-feedback-2 {
  position: absolute;
  top: 272px;
  left: 0px;
  padding: 12px 12px;
  width: 212px;
  height: 61px;
  background: #121212;
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-image: url(/img/main/about-complex-rating2-1x.png);
  background-repeat: no-repeat;
  background-size: 41px 41px;
  background-position: 14px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .guest-feedback-2 {
    background-image: url(/img/main/about-complex-rating2-2x.png);
  }
}

.about-desc-head-2 {
  margin-bottom: 18px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #484848;
}

.about-desc-text-2 {
  width: 263px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

/* === TABLET === */

@media screen and (min-width: 768px) {
  @media screen and (max-width: 1439px) {
    .about-desc-one {
      margin-bottom: 80px;
    }
    .second-wrap {
      margin-top: 40px;
    }
  }

  .wrapper-about {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-section-second-pic-1 {
    position: absolute;
    top: 209px;
    right: 0;
  }

  .second-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .about-desc-two {
    margin-left: 32px;
  }

  .about-desc-text {
    width: 473px;
    font-size: 18px;
    line-height: 1.33;
  }

  .guest-feedback-1 {
    top: 176px;
    right: 122px;
  }

  .main-img-3 {
    margin-left: auto;
  }

  .guest-feedback-2 {
    top: 303px;
    left: 67px;
  }
}

/* === DECKTOP === */

@media screen and (min-width: 1440px) {
  .wrapper-about {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-section-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .about-section-second-pic-1 {
    right: 637px;
  }

  .guest-feedback-1 {
    right: 794px;
  }

  .about-desc-one {
    margin-right: 57px;
  }

  .about-section-second {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-desc-two {
    margin-top: 127px;
    margin-right: 87px;
    margin-left: 54px;
  }

  .main-img-4 {
    margin-top: 127px;
  }

  .guest-feedback-2 {
    left: 739px;
  }
}
