.welcome {
  padding: 57px 0;
}

.title-welcome {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
}

.text-welcome {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
}

.img-welcome {
  max-width: 335px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  /* .text-welcome {
    margin-bottom: 32px;
  }

  .title-welcome {
    margin-bottom: 32px;
  } */

  .br-none {
    display: none;
  }

  .cont-welcome {
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
}

/* tablet styles */

@media screen and (min-width: 768px) {
  .wrapper-text-welcome {
    display: flex;
  }

  .text-welcome {
    width: calc((100% - 32px) / 2);
  }
  .wrapper-text-welcome {
    margin-bottom: 40px;
  }

  .title-welcome {
    margin-bottom: 50px;
  }
}
