<section>
  <div class="container">
    <h2 class="display-none">About a complex</h2>
    <div class="wrapper-about">
      <div class="content-wrap-1">
        <div class="about-main-img-1">
          <picture>
            <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            width="482"
            height="636"
            srcset="../../img/main/desk/about-complex-pic1-1x.jpg 1x, 
            ../../img/main/desk/about-complex-pic1-2x.jpg 2x">
            <source
            type="image/jpeg"
            media="(min-width: 768px)"
            width="482"
            height="636"
            srcset="../../img/main/tab/about-complex-pic1-1x.jpg 1x, 
            ../img/main/tab/about-complex-pic1-2x.jpg 2x">
            <source
            type="image/jpeg"
            media="(max-width: 767px)"
            width="335"
            height="442"
            srcset="../../img/main/mob/about-complex-pic1-1x.jpg 1x, 
            ../img/main/mob/about-complex-pic1-2x.jpg 2x">
            <img class="img-about-main" src="../../img/main/mob/about-complex-pic1-1x.jpg" 
            alt="room with fireplace">
          </picture>
        </div>
        <div class="about-main-img-2">
          <picture>
            <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            width="439"
            height="219"
            srcset="../../img/main/desk/about-complex-pic2-1x.jpg 1x, 
            ../img/main/desk/about-complex-pic2-2x.jpg 2x">
            <source
            type="image/jpeg"
            media="(min-width: 768px)"
            width="439"
            height="219"
            srcset="../../img/main/tab/about-complex-pic2-1x.jpg 1x, 
            ../img/main/tab/about-complex-pic2-2x.jpg 2x">
            <source
            type="image/jpeg"
            media="(max-width: 767px)"
            width="282"
            height="153"
            srcset="../../img/main/mob/about-complex-pic2-1x.jpg 1x, 
            ../img/main/mob/about-complex-pic2-2x.jpg 2x">
            <img class="img-about-main" src="../../img/main/desk/about-complex-pic2-1x.jpg" 
            alt="bathroom">
          </picture>
        </div>
        <div class="guest-feedback-1">
          <h3 class="guest-name">Maria</h3>
          <p class="guest-rating">give rating <span class="rating">4.5</span></p>
        </div>
        <div class="about-desc-one">
          <p class="about-desc-head">restaurant-hotel complex</p>
          <p class="about-desc-text">Indulge in a taste of luxury with every bite at Hotel Mimino. 
            From the freshest seafood to the most succulent steaks, every dish is crafted with care 
            to ensure that you enjoy a truly memorable dining experience.</p>
          <p class="about-desc-text">Treat yourself to a taste of the good life and come dine with us today!</p>
        </div>
        </div>
        <div class="content-wrap-2">
          <div class="guest-feedback-2">
            <h3 class="guest-name">Alexander</h3>
            <p class="guest-rating">give rating <span class="rating">5.5</span></p>
          </div>
          <div class="about-main-img-3">
            <picture>
              <source
              type="image/jpeg"
              media="(min-width: 1440px)"
              width="530"
              height="492"
              srcset="../../img/main/desk/about-complex-pic3-1x.jpg 1x, 
              ../img/main/desk/about-complex-pic3-2x.jpg 2x">
              <source
              type="image/jpeg"
              media="(min-width: 768px)"
              width="530"
              height="492"
              srcset="../../img/main/tab/about-complex-pic3-1x.jpg 1x, 
              ../img/main/tab/about-complex-pic3-2x.jpg 2x">
              <source
              type="image/jpeg"
              media="(max-width: 767px)"
              width="335"
              height="311"
              srcset="../../img/main/mob/about-complex-pic3-1x.jpg 1x, 
              ../img/main/mob/about-complex-pic3-2x.jpg 2x">
              <img class="img-about-main" src="../../img/main/desk/about-complex-pic3-1x.jpg" alt="photo table restaurant">
            </picture>
          </div>
            <div class="wrapper-flex">
              <div class="about-desc-two">
                <p class="about-desc-head-2">business class hotel</p>
                <p class="about-desc-text-2">The Mimino hotel features spacious and stylish double
                  luxury rooms with modern amenities for a comfortable stay.</p>
              </div>
              <div class="about-main-img-4">
                <picture>
                  <source
                  type="image/jpeg"
                  media="(min-width: 1440px)"
                  width="266"
                  height="309"
                  srcset="../../img/main/desk/about-complex-pic4-1x.jpg 1x,
                  ../img/main/desk/about-complex-pic4-2x.jpg 2x">
                  <source
                  type="image/jpeg"
                  media="(min-width: 768px)"
                  width="266"
                  height="309"
                  srcset="../../img/main/tab/about-complex-pic4-1x.jpg 1x,
                  ../img/main/tab/about-complex-pic4-2x.jpg 2x">
                  <source
                  type="image/jpeg"
                  media="(max-width: 767px)"
                  width="335"
                  height="309"
                  srcset="../../img/main/mob/about-complex-pic4-1x.jpg 1x, ../img/main/mob/about-complex-pic4-2x.jpg 2x">
                  <img class="img-about-main" src="../../img/main/desk/about-complex-pic4-1x.jpg" alt="photo space restaurant">
                </picture>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>