<section class="hero-main">
  <div class="container hero-main-wrap">
    <h1 class="hero-title">Mimino</h1>
    <div class="hero-main-btn">
      <button
        type="button"
        class="animation-btn book-btn-main btn-black"
        data-room-open
      >
        book a room
      </button>
      <button
        type="button"
        class="animation-btn book-btn-main btn-black"
        data-table-open
      >
        book a table
      </button>
    </div>
    <div class="desc-wrap">
      <p class="hero-main-desc desc-one">
        Whether you're in the mood for a hearty breakfast, a light lunch, or
        <span class="italic-text">a romantic dinner,</span> our menu has
        something for everyone.
      </p>
      <p class="hero-main-desc desc-two">
        At Hotel Mimino, <span class="italic-text">we believe</span> that great
        food should be available to everyone, no matter the time of day.
      </p>
    </div>
  </div>
</section>
