<section class=“hero-main”>
  <div class=“container”>
    <h1 class=“hero-title”>Mimino</h1>
  </div>
  <div class=“hero-main-btn”>
    <button type=“submint” class=“book-room-btn”>book a room</button>
    <button type=“submint” class=“book-table-btn”>book a table</button>
  </div>
  <div class=“desc-wrap”>
    <p class=“hero-main-desc desc-first”>
      Whether you’re in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
    <p class=“hero-main-desc desc-second”>
      At Hotel Mimino, we believe that great food should be available to
      everyone, no matter the time of day.
    </p>
  </div>
</section>