<section>
  <div class="container">
    <h2 class="location-title">Location</h2>

    <address>
      <ul class="address-list">
        <p class="address-text">
          Ukraine, Poltava,<br />
          St. Marshal Biryuzov, 15
        </p>
        <p class="address-call">call us:</p>
        <li class="address-item">
          <a href="tel:+380955559533" class="link address-contact">
            (095) 555 95 33
          </a>
        </li>
        <li class="address-item">
          <a href="tel:+380668491089" class="link address-contact">
            (066) 849 10 89
          </a>
        </li>
      </ul>
    </address>
  </div>
</section>
