<section class="section-location">
  <div class="container">
    <div class="map-container-desktop">
      <iframe
        class="map-desktop"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5171.65210295152!2d34.52339485810894!3d49.60102966377544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LAsIDM2MDAw!5e0!3m2!1sru!2spl!4v1677564796061!5m2!1sru!2spl"
        style="border: 0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>

      <div class="wrapper-adress">
        <div class="map-container">
          <h2 class="location-title">Location</h2>

          <iframe
            class="map-mobile"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5171.65210295152!2d34.52339485810894!3d49.60102966377544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LAsIDM2MDAw!5e0!3m2!1sru!2spl!4v1677564796061!5m2!1sru!2spl"
            style="border: 0"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <iframe
            class="map-tablet"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5171.65210295152!2d34.52339485810894!3d49.60102966377544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0KPQutGA0LDQuNC90LAsIDM2MDAw!5e0!3m2!1sru!2spl!4v1677564796061!5m2!1sru!2spl"
            style="border: 0"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <address class="address-complex">
          <p class="address-text">
            Ukraine, Poltava,<br />
            St. Marshal Biryuzov, 15
          </p>
          <div class="address-wrap">
            <p class="address-call">call us:</p>
            <div class="adress-number">
              <ul class="address-list">
                <li class="address-item magin-desktop">
                  <a href="tel:+380955559533" class="link address-contact">
                    (095) 555 95 33
                  </a>
                </li>
                <li class="address-item">
                  <a href="tel:+380668491089" class="link address-contact">
                    (066) 849 10 89
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </address>
      </div>
    </div>
  </div>
</section>
