<section>
  <div class="container main__adaptive_rest">
    <div class="main__container_rest">
      <h2 class="main__restaurant_title">restaurant</h2>
      <p class="main-restaurant-description">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <div>
      <div class="main-restaurant-slider">
        <!-- 1 img -->
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-1-1x.jpg 1x,
                /img/slider/main-slider/d-pic-1-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <source
              srcset="
                /img/slider/main-slider/t-pic-1-1x.jpg 1x,
                /img/slider/main-slider/t-pic-1-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="336"
            />
            <source
              srcset="
                /img/slider/main-slider/m-pic-1-1x.jpg 1x,
                /img/slider/main-slider/m-pic-1-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="157"
            />
            <img src="/img/slider/main-slider/m-pic-1-1x.jpg" alt="coctail" />
          </picture>
        </div>
        <!-- 2 img -->
        <div class="resto-slider-img">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-2.2-1x.jpg 1x,
                /img/slider/main-slider/d-pic-2.2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <img src="/img/slider/main-slider/d-pic-2.2-1x.jpg" alt="cook" />
          </picture>
        </div>
        <!-- 3 img -->
        <div class="resto-slider-img">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-3.3-1x.jpg 1x,
                /img/slider/main-slider/d-pic-3.3-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <img src="/img/slider/main-slider/d-pic-3.3-1x.jpg" alt="cook" />
          </picture>
        </div>
        <!-- 5 img -->
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-2-1x.jpg 1x,
                /img/slider/main-slider/d-pic-2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <source
              srcset="
                /img/slider/main-slider/t-pic-2-1x.jpg 1x,
                /img/slider/main-slider/t-pic-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="336"
            />
            <source
              srcset="
                /img/slider/main-slider/m-pic-2-1x.jpg 1x,
                /img/slider/main-slider/m-pic-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="157"
            />
            <img src="/img/slider/main-slider/m-pic-2-1x.jpg" alt="coctail" />
          </picture>
        </div>
        <!-- 4 img -->
        <div class="resto-slider-img">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-4.4-1x.jpg 1x,
                /img/slider/main-slider/d-pic-4.4-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <img src="/img/slider/main-slider/d-pic-4.4-1x.jpg" alt="cook" />
          </picture>
        </div>
        <!-- 6 img -->
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-3-1x.jpg 1x,
                /img/slider/main-slider/d-pic-3-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <source
              srcset="
                /img/slider/main-slider/t-pic-3-1x.jpg 1x,
                /img/slider/main-slider/t-pic-3-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="336"
            />
            <source
              srcset="
                /img/slider/main-slider/m-pic-3-1x.jpg 1x,
                /img/slider/main-slider/m-pic-3-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="157"
            />
            <img src="/img/slider/main-slider/m-pic-3-1x.jpg" alt="coctail" />
          </picture>
        </div>
        <!-- 7 img -->
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-4-1x.jpg 1x,
                /img/slider/main-slider/d-pic-4-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <source
              srcset="
                /img/slider/main-slider/t-pic-4-1x.jpg 1x,
                /img/slider/main-slider/t-pic-4-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="336"
            />
            <source
              srcset="
                /img/slider/main-slider/m-pic-4-1x.jpg 1x,
                /img/slider/main-slider/m-pic-4-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="157"
            />
            <img src="/img/slider/main-slider/m-pic-4-1x.jpg" alt="coctail" />
          </picture>
        </div>
        <!-- 8 img -->
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-5-1x.jpg 1x,
                /img/slider/main-slider/d-pic-5-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <source
              srcset="
                /img/slider/main-slider/t-pic-5-1x.jpg 1x,
                /img/slider/main-slider/t-pic-5-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="336"
            />
            <source
              srcset="
                /img/slider/main-slider/m-pic-5-1x.jpg 1x,
                /img/slider/main-slider/m-pic-5-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="157"
            />
            <img src="/img/slider/main-slider/m-pic-5-1x.jpg" alt="coctail" />
          </picture>
        </div>
        <!-- 9 img -->
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-6-1x.jpg 1x,
                /img/slider/main-slider/d-pic-6-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <source
              srcset="
                /img/slider/main-slider/t-pic-6-1x.jpg 1x,
                /img/slider/main-slider/t-pic-6-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="336"
            />
            <source
              srcset="
                /img/slider/main-slider/m-pic-6-1x.jpg 1x,
                /img/slider/main-slider/m-pic-6-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="157"
            />
            <img src="/img/slider/main-slider/m-pic-6-1x.jpg" alt="coctail" />
          </picture>
        </div>
        <!-- 10 img -->
        <div class="slider-item">
          <picture>
            <source
              srcset="
                /img/slider/main-slider/d-pic-7-1x.jpg 1x,
                /img/slider/main-slider/d-pic-7-2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="266"
            />
            <source
              srcset="
                /img/slider/main-slider/t-pic-7-1x.jpg 1x,
                /img/slider/main-slider/t-pic-7-2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="336"
            />
            <source
              srcset="
                /img/slider/main-slider/m-pic-7-1x.jpg 1x,
                /img/slider/main-slider/m-pic-7-2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="157"
            />
            <img src="/img/slider/main-slider/m-pic-7-1x.jpg" alt="coctail" />
          </picture>
        </div>
      </div>
    </div>
    <div class="button__rest_position">
      <button
        type="button"
        class="animation-btn button__rest_main btn-white"
        data-table-open
      >
        book a table
      </button>
      <button
        type="button"
        class="animation-btn button__rest_main btn-white"
        onclick="window.location.href='restaurant.html#restaurant-section'"
      >
        view the menu
      </button>
    </div>
  </div>
</section>
