<section>
  <div class="container main__adaptive_rest">
    <div class="main__container_rest">
      <h2 class="main__restaurant_title">restaurant</h2>
      <p class="main-restaurant-description">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
      <!-- <div class="button__main_resttab">
        <button type="button" class="button__rest_main">book a table</button>
        <button type="button" class="button__rest_main">view the menu</button>
      </div> -->
    </div>

    <div>
      <div class="main-restaurant-slider">
        <div>
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider1-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider1-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/main/tab/restaurant-details/rest-slider1-1x.jpg 1x,
                /img/main/tab/restaurant-details/rest-slider1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="/img/main/mob/restaurant-details/rest-slider1-1x.jpg"
              alt="coctail"
            />
          </picture>
        </div>
        <div class="hero-slider-img2">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider2-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/main/tab/restaurant-details/rest-slider2-1x.jpg 1x,
                /img/main/tab/restaurant-details/rest-slider2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="/img/main/mob/restaurant-details/rest-slider2-1x.jpg"
              alt="cook"
            />
          </picture>
        </div>
        <div class="hero-slider-img3">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider3-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider3-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/main/tab/restaurant-details/rest-slider3-1x.jpg 1x,
                /img/main/tab/restaurant-details/rest-slider3-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="/img/main/mob/restaurant-details/rest-slider3-1x.jpg"
              alt="table"
            />
          </picture>
        </div>
        <div class="hero-slider-img4">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider4-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider4-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/main/tab/restaurant-details/rest-slider4-1x.jpg 1x,
                /img/main/tab/restaurant-details/rest-slider4-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="/img/main/mob/restaurant-details/rest-slider4-1x.jpg"
              alt="girl"
            />
          </picture>
        </div>
        <div class="hero-slider-img5">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider5-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider5-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/main/tab/restaurant-details/rest-slider5-1x.jpg 1x,
                /img/main/tab/restaurant-details/rest-slider5-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="/img/main/mob/restaurant-details/rest-slider5-1x.jpg"
              alt="food"
            />
          </picture>
        </div>
        <div class="hero-slider-img6">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider6-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider6-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/main/tab/restaurant-details/rest-slider6-1x.jpg 1x,
                /img/main/tab/restaurant-details/rest-slider6-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="/img/main/mob/restaurant-details/rest-slider6-1x.jpg"
              alt="drink"
            />
          </picture>
        </div>
        <div class="main__imgrest_desk">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider7-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider7-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="/img/main/desk/restaurant-details/rest-slider7-1x.jpg"
              alt="drink"
            />
          </picture>
        </div>
        <div class="main__imgrest_desk">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider8-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider8-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="/img/main/desk/restaurant-details/rest-slider8-1x.jpg"
              alt="drink"
            />
          </picture>
        </div>
        <div class="main__imgrest_desk">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider9-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider9-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="/img/main/desk/restaurant-details/rest-slider9-1x.jpg"
              alt="drink"
            />
          </picture>
        </div>
        <div class="main__imgrest_desk">
          <picture>
            <source
              srcset="
                /img/main/desk/restaurant-details/rest-slider10-1x.jpg 1x,
                /img/main/desk/restaurant-details/rest-slider10-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="/img/main/desk/restaurant-details/rest-slider10-1x.jpg"
              alt="drink"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="button__rest_position">
      <button type="button" class="button__rest_main">book a table</button>
      <button type="button" class="button__rest_main">view the menu</button>
    </div>
  </div>
</section>
