<section class="welcome">
  <div class="container cont-welcome display-grid">
    <div class="wtapper-welcome cont-welcome">
      <h2 class="title-welcome">
        Welcome to the <br />
        epitome of <em>luxury</em> and <br class="br-none" />
        <em> comfort</em>
      </h2>

      <div class="wrapper-text-welcome cont-welcome">
        <p class="text-welcome one-text-welcome">
          Our hotel rooms are elegantly designed with an eye for detail,
          ensuring that you have everything you need for a relaxing and
          rejuvenating stay.
        </p>
        <p class="text-welcome two-text-welcome">
          Each room is equipped with the latest amenities, including plush
          bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
          you start your day right. Our spacious bathrooms feature luxurious
          toiletries and towels, so you can pamper yourself in complete privacy.
        </p>
      </div>
    </div>
    <div class="wrapper-img">
      <picture>
        <source
          srcset="
            ../../img/main/desk/welcome-complex-1x.jpg 1x,
            ../../img/main/desk/welcome-complex-2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ../../img/main/tab/welcome-complex-1x.jpg 1x,
            ../../img/main/tab/welcome-complex-2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ../../img/main/mob/welcome-complex-1x.jpg 1x,
            ../../img/main/mob/welcome-complex-2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width:767px)"
        />
        <img src="../../img/main/desk/welcome-complex-1x.jpg" alt="restroom" />
      </picture>
    </div>
  </div>
</section>
