@media screen and (max-width: 1439px) {
  .main-restaurant-slider .resto-slider-img.slick-slide {
    display: none;
  }
}

.main-restaurant-slider img {
  height: 201px;
  width: 157px;
  margin-right: 21px;
}

.main-restaurant-slider .slick-arrow.slick-prev::before {
  top: 140px;
  right: -25px;
}

.main-restaurant-slider .slick-arrow.slick-next::before {
  top: 139px;
  right: 290px;
}

@media screen and (min-width: 768px) {
  .main-restaurant-slider img {
    height: 309px;
    width: 336px;
    margin-right: 32px;
  }

  .main-restaurant-slider .slick-arrow.slick-prev::before {
    top: 205px;
    right: -25px;
  }

  .main-restaurant-slider .slick-arrow.slick-next::before {
    top: 204px;
    right: 635px;
  }
}

@media screen and (min-width: 1440px) {
  .main-restaurant-slider img {
    height: 309px;
    width: 266px;
    margin-right: 25px;
  }

  .main-restaurant-slider .slick-arrow.slick-prev::before {
    top: 220px;
    right: -650px;
  }

  .main-restaurant-slider .slick-arrow.slick-next::before {
    top: 219px;
    right: 670px;
  }
}

/*

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .main-restaurant-slider img {
    height: 309px;
    display: block;
  }
}



@media screen and (min-width: 768px) {
  .main-restaurant-slider {
    margin-bottom: 106px;
  }
}




.slick-card:not(:last-child) {
  margin-right: 0;
}

.slick-next {
  z-index: 1;
  outline: none;
}

.slick-next::before {
  position: absolute;
  top: 130px;
  right: 300px;
  color: transparent;

  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #121212;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .slick-next::before {
    top: 200px;
    right: 650px;
  }
}

@media screen and (min-width: 1440px) {
  .slick-next::before {
    top: 220px;
  }
}

.slick-prev {
  z-index: 1;
  outline: none;
}

.slick-prev::before {
  position: absolute;
  top: 130px;
  left: 38px;
  color: transparent;

  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #121212;
  border-width: 2px 2px 0 0;
  transform: rotate(-135deg);
}

@media screen and (min-width: 768px) {
  .slick-prev::before {
    top: 200px;
    left: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .slick-prev::before {
    top: 220px;
    left: 670px;
  }
} */ ;
